{% extends 'base.html' %}

{% block title %}Calendar - {{ year }}-{{ month }}{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Upload Video</h1>
        <form action="/upload" id="uploadForm" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="videoTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="videoTitle" name="title" placeholder="Enter video title" required>
            </div>
            <div class="mb-3">
                <label action="/upload" id="videoDescription" class="form-label">Description</label>
                <textarea class="form-control" id="videoDescription" name="description" rows="4" placeholder="Enter video description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="videoFile" class="form-label">Video File</label>
                <input type="file" class="form-control" id="videoFile" name="video" accept="video/*" required>
            </div>
            <div class="mb-3" id="previewContainer" style="display: none;">
                <label class="form-label">Video Preview</label>
                <video id="videoPreview" class="w-100" controls></video>
            </div>
            <br><br>

            <div class="d-flex justify-content-center center">
                <button type="submit" class="btn btn-primary">Upload</button>
                <!-- <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button> -->
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="upload.js"></script>
{% endblock %}