{% extends 'base.html' %}

{% block title %}Calendar - {{ year }}-{{ month }}{% endblock %}

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .container {
        max-width: 600px;
        margin: 100px auto;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        color: #333;
    }
    p {
        color: #555;
        font-size: 18px;
    }
    .btn {
        background-color: #ff8c00;
        color: white;
        padding: 12px 30px;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s;
    }
    .btn:hover {
        background-color: #ff6a00;
    }
</style>

    <div class="container my-5">
        <h1 class="text-center mb-4">Upload Video</h1>
        <form action="/upload" id="uploadForm" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="videoTitle" class="form-label">Module</label>
                <input type="text" class="form-control" id="videoTitle" name="title" placeholder="Enter video title" required>
            </div>
            <div class="mb-3">
                <label action="/upload" id="videoDescription" class="form-label">Description</label>
                <textarea class="form-control" id="videoDescription" name="description" rows="4" placeholder="Enter video description" required></textarea>
            </div>
            <div class="mb-3">
                <label for="videoFile" class="form-label">Video File</label>
                <input type="file" class="form-control" id="videoFile" name="video" accept="video/*" required>
            </div>
            <div class="mb-3" id="previewContainer" style="display: none;">
                <label class="form-label">Video Preview</label>
                <video id="videoPreview" class="w-100" controls></video>
            </div>
            <br><br>

            <div class="d-flex justify-content-center center">
                <button type="submit" class="btn btn-primary">Upload</button>
                <!-- <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button> -->
            </div>
        </form>
    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="upload.js"></script>
{% endblock %}